.footer {
  padding: 2rem 1rem;
  border-top: 1px solid rgba(87, 132, 186, 0.3);
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
}

.text {
  color: rgba(255, 255, 255, 0.7);
}

.link {
  color: #5784ba;
  font-weight: 500;
  transition: all 0.2s;
}

.link:hover {
  text-decoration: underline;
}
